// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

embed {
  width: 100%;
}

body {
  color: $fp-color;
}

.post-content {
  h2 {
    margin-top: 50px;
    padding: 0.2em 0.5em;
    color: white;
    background: $tm-color;
    border: solid 2px white;
    box-shadow: 0px 0px 0px 5px $tm-color;
  }

  h3 {
    margin-top: 40px;
    padding: 0.4em 0.5em;
    color: $fp-color;
    background: #F5F8F3;
    border-bottom: solid 3px $tm-color;
  }

  h4 {
    margin-top: 30px;
    padding: 0.25em 0.5em;
    color: $fp-color;
    background: transparent;
    border-left: solid 5px $tm-color;
  }

  h5 {
    font-size: 16px;
  }
}
